<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tribooking</title>
    <meta name="description" content="Sitio web de booking super especial">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body id="bookingPage">
    <header>
        <!-- Just an image -->
        <nav class="navbar navbar-light " id="theNav">
            <a class="navbar-brand" href="{% url 'api:buildings_list' %}">
                <img src="{% static 'img/favicon.png' %}" width="50" height="50" alt=""> Tribooking
            </a>
        </nav>
    </header>
    <div class="mt-5">
        <!--  margin-top to $spacer * 3 -->
    </div>
    <main class="container">
        <div class="row">
            <div class="col-sm-5">

                <form action="{% url 'api:booking_create' %}" method="POST">

                    <input type="hidden" value="{{ building.pk }}" name="building_id">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname">Apellido</label>
                            <input type="text" class="form-control" id="surname" placeholder="Apellido" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresa un email" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="dates">Dias (Manten presionado CTRL y clickea)</label>
                            <select name="dates" id="dates" class="form-control" multiple="multiple" required>
                                {% for date in dates %}
                                    <option value="{{ date.pk }}">{{ date.date }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="number_card">Tarjeta de Credito</label>
                            <input type="text" class="form-control" id="number_card" placeholder="xxxx-xxxx-xxxx-xxxx" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" id="cvv" placeholder="xxx" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="pax">Personas</label>
                            <select name="cant_pax" class="form-control" id="pax" required>
                                {% for pax in cant_pax %}
                                    <option value="{{ pax }}">{{ pax }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Reservar</button>
                </form>
            </div>
            <div class="px-2">
                <!--  padding set both *-top and *-bottom to $spacer * 0.5 -->
            </div>
            <div class="col-sm-5">
                <div class="card" style="width: 45rem;">
                    <img class="img-fluid" src="https://static.grandvoyage.com/img/overwater_private_villa_en_maldivas-790x395.jpg">
                    <div class="card-body">
                        <h5 class="card-title"> {{ building.title }}, {{ building.city.name }} </h5>
                        <p class="card-text"> {{ building.facilities }} </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> {{ building.services }} </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> $ {{ building.daily_cost }} / Noche </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!--Scripts-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>